doctype html
html 
    head 
        body
            each booking in data 
                li Name: #{booking.name} , Adhar: #{booking.adhar} , Phone: #{booking.phone}
                    
                
            
