doctype html 
html 
    head 
        title Medkets 
        style 
            include ../static/styleSheets/style.css
        body
            nav.navHolder 
                nav.topNav
                    div.logHolder
                        img(src="", alt="Medkets Logo")
                    div.searchHolder
                        input#search(type="search", name="medSearch")   
                        input(type="submit", value="Search")
                    ul 
                        li.navIcons
                            img(src="", alt="user")
                        li.navIcons
                            img(src="", alt="user")
                        li.navIcons
                            img(src="", alt="user")
                        li.navIcons
                            img(src="", alt="user")     